name: Main Checks

on: [push, pull_request, workflow_dispatch]

env:
  CARGO_TERM_COLOR: always

jobs:
  lint_fmt:
    name: cargo fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - name: Check formatting
        run: cargo fmt -- --check

  lint_clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - name: Run clippy
        run: cargo clippy --all-features -- --deny warnings

  tests:
    name: Tests
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        mode: ["debug", "release"]
    runs-on: ubuntu-latest
    steps:
      - name: Install Godot
        uses: chickensoft-games/setup-godot@v2
        with:
          version: "4.5.1"
          use-dotnet: false
          include-templates: false
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
      - name: Run tests (debug)
        if: matrix.mode == 'debug'
        run: cargo test --all-features
      - name: Run tests (release)
        if: matrix.mode == 'release'
        run: cargo test --all-features --release